body {
    font-family: 'Open Sans';
    color: darkblue;
    margin: 10px, 50px, 10px, 50px;
    width: 950px;
    background-color: ivory;
}
h1, h2 {
    font-family: 'Oswald'
}
img {
    float: left;
}
li {
    display: inline;
    margin: 40px
}
.IE {
    float: left;
    width: 300px
}
.Firefox {
    float: left;
    width: 300px;
    padding-left: 20px;
}
.Chrome {
    float: left;
    width: 300px;
    padding-left: 20px
}